version: '3.8'

services:
  redis:
    image: redis:6-alpine
    environment:
      - REDIS_URL=${REDIS_URL}
    ports:
      - "6379:6379"
    command: >
      sh -c "redis-server"

  news_app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./news_app:/news_app
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py makemigrations user &&
             python manage.py makemigrations core &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - REDIS_URL=${REDIS_URL}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
    depends_on:
      - db

  db:
    container_name: pg_post_app_api
    image: postgres:13-alpine
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  pgadmin:
    container_name: pgadmin4_post_app_api
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"

  celery:
    build:
      context: .
    command: >
      sh -c "celery -A news_app worker --beat --scheduler django --loglevel=info"
    volumes:
      - ./news_app:/news_app
      - ./static:/static
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - REDIS_URL=${REDIS_URL}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
    depends_on:
      - redis
      - news_app

