version: '3.8'

services:
  redis:
    image: redis:6-alpine
    environment:
      - REDIS_HOST=redis
    ports:
      - "6379:6379"
    command: >
      sh -c "redis-server"

  news_app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./news_app:/news_app
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py makemigrations user &&
             python manage.py makemigrations core &&
             python manage.py migrate &&
             gunicorn news_app.wsgi:application --bind 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=news_app
      - DB_USER=testadmin
      - DB_PASS=testpassword
    depends_on:
      - db

  db:
    container_name: pg_post_app_api
    image: postgres:13-alpine
    environment:
      - POSTGRES_DB=news_app
      - POSTGRES_USER=testadmin
      - POSTGRES_PASSWORD=testpassword
    ports:
      - "5432:5432"

  pgadmin:
    container_name: pgadmin4_post_app_api
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: test@admin.com
      PGADMIN_DEFAULT_PASSWORD: testpass
    ports:
      - "5050:80"

  celery:
    build:
      context: .
    command: >
      sh -c "celery -A news_app worker --beat --scheduler django --loglevel=info"
    volumes:
      - ./news_app:/news_app
    environment:
      - DB_HOST=db
      - DB_NAME=news_app
      - DB_USER=testadmin
      - DB_PASS=testpassword
    depends_on:
      - redis
      - news_app

